@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html, body{
  font-family: "Sour Gummy", sans-serif;
   scroll-behavior: smooth;
}


nav{
  background: #ffffff; 
  height: 80px;
  width: 100%;
  box-shadow: 4px 4px 4px rgb(245, 243, 239);
  position: sticky;
  top: 0;
  z-index: 1;  

  /* position: sticky;
  top: 0;
  margin-top: 20px;
  background: transparent;
  transition: 0.4s ease-in-out;
  height: 80px;
  width: 100%;
  z-index: 100; */


}

/* .navbar.activated{
  background:#ffffff; 
  box-shadow: 4px 4px 4px rgb(245, 243, 239);
} */
main{
  background-color: #f0f0f0;
  padding: 8rem;
}

.logo{
  color: black;
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  margin-left: 10rem;
  cursor: pointer;
  
} 

  nav ul{
  float: right;
  margin-right: 25%; 
}  

 nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  position: relative;
}
 
 nav ul li a{
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 4px;
  position: relative;
} 

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: #f81414;
  transition: width 0.4s ease, transform 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}
nav ul li a:hover::after {
  width: 100%;
  transform: scaleX(1);
}
body.dark-theme nav ul li a::after {
 
  background: #ffee00;
 
}

body.dark-theme a.active{
   
  border-bottom: 2px solid #ffee00;;
  transition: 0.3s;
  
}  


a.active{
   
  border-bottom: 2px solid #f81414;
  transition: 0.3s;
  
} 

.burg{
  color: #f81414;
  font-size: 70px;
}

.checkbtn{
  font-size: 30px;
  float: right;
  color: black;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}


 .cart-user{
  font-size: 18px;
  float: right;
  color: black;
   line-height: 80px;  
  margin-right: -700px;
  cursor: pointer;
 
}
 .user{
  font-size: 18px;
 /*  float: right; */
  color: #f81414;
   /* line-height: 300px; */  
  margin-right: -70px;
  margin-left: 60px;
  margin-top: -80px;
  cursor: pointer;
  
} 

 
.cart-items{

   font-size: 18px;
   color: black;
   position: absolute;
   top:12%;
   left:93.5%;
   z-index: 4000px;
   color:#f81414;
   cursor: pointer;

}

.fa-user{
  color: #f81414;
}

body.dark-theme .cart-items{
  color: #ffee00;
}

.fa-cart-shopping{
  margin-left: 20px;
  color: #f81414;
  
}

body.dark-theme .fa-cart-shopping{
  color: #ffee00;
}

body.dark-theme .fa-user{
  color: #ffee00;
}


#check{
  display: none;
}

.theme-toggle  {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 0rem;
  
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}
.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  color: #d72323;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1rem;
  color: #363636;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d72323;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;

 
}

.btn:hover {
  background-color: #d72323;
  border-bottom: none;
  opacity: 0.9;
}

.hero-image img {
  max-width: 100%;
  /* height: auto; */
  border-radius: 50%;
  animation: myphoto;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 3px solid rgb(202, 202, 202);
 
}

#map {
  height: 500px; /* Set the height of the map */
  width: 75%; /* Set the width of the map */
  z-index: -1;
  justify-self: center;

}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  padding: 30px;
  background-color: #e4e4e4e1;
}
 body.dark-theme .footer{
 
  background-color: #000000;
  color: #f7f3f3;
}

.footer .foot{
  font-size: 2rem;
  color: #d72323;
  font-weight: bolder;
}
body.dark-theme .foot{
  font-size: 2rem;
  color: #ffee00;
  font-weight: bolder;
}

.footer .socials{
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}



@keyframes  myphoto{
  100%{transform: rotateZ(360deg);}
}


.images{
  margin-left: 40px;
}

.images img:hover{
 cursor: pointer;
 }
/* .images img:hover{
transform: scale(1.2);
 } */




.prof{
  color: #d72323;
  text-align: center;
}

h2 {
  text-align: center;
}
.profession {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;

}



.card{
  width: 340px;
  height: 440px;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  margin-top: 100px;
  box-shadow: 2px 2px 3px;
  border-radius:;
}

.card img {
  border-radius: 10px 10px 0 0 ;
}

.card:hover{
  transform: scale(1.01);
  cursor: pointer;
  transition: transform 1s ease;
}

.card p{
  color: #d72323;
  font-weight: bold;
}
.card figure{
  flex-flow: column nowrap;
}


.card figcaption{
   font-weight: bolder;
   font-size: 2rem;
   text-align: center;
}
/* Dark Theme */
body.dark-theme {
  background-color: #272525;
  color: #ffee00;;
}

/* body.dark-theme header {
  background-color: #1e1e1e;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
} */

body.dark-theme nav{
  background: #000000;
  box-shadow: 4px 4px 4px rgb(37, 37, 36);
 

}

/*  body.dark-theme ul{
 
  background-color:  #000000;
 
} */
body.dark-theme nav ul li a{
  color: #c0c0c0;
 
} 



body.dark-theme .checkbtn{
  
  color: rgb(255, 255, 255);
  
}

body.dark-theme .card{
 
  background-color: #161515;
  box-shadow: 2px 2px 3px black;
}


body.dark-theme .burg{
  color: #ffee00;;
}


body.dark-theme .logo {
  color: #c0c0c0;
}



body.dark-theme .hero-content h1 {
  color: #ffee00;;
}

body.dark-theme .prof{
  color:#c0c0c0; 

}

body.dark-theme .hero-content p {
  color: #c0c0c0;
}

body.dark-theme .btn {
  background-color: #ffee00;
}

body.dark-theme .btn:hover {
  background-color: #ffee00;
}

body.dark-theme .hero-image img {
  border-color: #333;
}

body.dark-theme .card p{
  color: #c0c0c0;
  font-weight: bold;
}

.contains-all{
  display: grid;
     grid-template-columns: repeat(2, 250px 250px);
     gap: 10px;
     padding: 20px;
     grid-template-rows: 250px;
     place-content: center;
     animation: myAppear;
     animation-duration: 2s;
     opacity: 0;
      transform: translateY(50px);
      transition: opacity 1s ease-out, transform 1s ease-out;
     
}

.appear {
  opacity: 1;
  transform: translateY(0);
}


/* .hidden {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: scale(1);
} */



@keyframes myAppear{
  0%{ transform: scale(0.0)}

  100%{transform: scale(1.0);}
  
}

  .image-container:nth-child(2){
 
  grid-column: 2/4;
  grid-row: 1/3;
}   
 .image-container:nth-child(3){
 
  grid-column: 4/5;
  grid-row: 1/2;
} 
 .image-container:nth-child(4){
 
  grid-column: 1/2;
  grid-row: 2/3;
} 
 /* .image-container:last-child{
 
  grid-column: 1/2;
  grid-row: 2/3;
}  */



/* Container to position the overlay */
.image-container {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
border: 4px solid #f3f3f3;
border-radius: 10px;
  
 /*  width: 250px;
  height: 250px; */
}


/* Image styling */
.image-container img {
 /*  display: block; */

   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.5s ease;
  
   /* width: 250px;
  height: 250px; */ 
}

.image-container:hover img{
  transform: scale(1.1);
}

/* Overlay styling */
 .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */
   display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
} 
 
/* Show overlay when hovering over the container */
.image-container:hover .overlay {
  opacity: 1;
}

/* Text styling */
.image-container .overlay-text {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

form{
  margin-top: 10px;
  width: 75%;
  height: 400px;
  border: 2px solid black;
  display: flex;
 /*  justify-content: center; */
  align-items: center; 
  flex-direction: column;
  gap: 10px;
  justify-self: center;
  box-shadow: 4px 4px 10px rgb(102, 101, 101);
  padding: 10px;
  margin-bottom: 100px;
}
body.dark-theme form {
  background-color:  #000000;
  color: white;
  
 
}


form .input-credents input {
  background-color: #ffffff;
  
  width:370px ;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #c2c2c2cc;
 
}
body.dark-theme form .input-credents input {
  background-color:  #000000;
  color: white;
  
 
}
form textarea {
  background-color: #ffffff;

  width:75% ;
  height: 200px;
  padding: 10px;
  border: 1px solid #c2c2c2cc;
}
body.dark-theme form textarea {
  background-color:  #000000;
  color: #ffffff;
 
}
form .subject {
  background-color: #ffffff;;

  width:75% ;
  height: 40px;
  padding: 10px;
  border: 1px solid #c2c2c2cc;
}
body.dark-theme form .subject {
  background-color:  #000000;
  color: white;
 
}
form .send {
  background-color: #d72323 ;
  font-weight: bolder;
  width:80px ;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(192, 192, 192);
  color: #f3f3f3;
  cursor: pointer;

  
}
body.dark-theme form .send {
  background-color:  #ffee00;
   color: black;

  
}

.main-line{
  border: 1px solid rgb(141, 141, 141);
}

.citation{
  color:#d72323;
}
body.dark-theme .citation{
  color:#ffee00; ;
}




@media (max-width: 1438px){
    .checkbtn{
    display:none;

   }  
 

      body.dark-theme nav{
        background: #000000;
        box-shadow: 4px 4px 4px rgb(37, 37, 36);
       
      
      }
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      
     
     
      

      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: row;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }
    .hero-image img{
      max-width: 400px;
      max-height: 400px;
    }

    .images img{
      max-width: 80px;
      max-height: 80px;
    }

    .images{
      margin-left: -10px;
    }
    .btn {

    .btn {
      margin-bottom: 40px;
    }

    .images{
       margin-left: -40px; 
    }

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }

    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 120px;

    }

    .image-container .overlay-text{
      font-size: 17px;
    }
    
    
}
@media (max-width: 1200px){
    .checkbtn{
    display:none;

   }  
 

      body.dark-theme nav{
        background: #000000;
        box-shadow: 4px 4px 4px rgb(37, 37, 36);
       
      
      }
      nav ul li{
        display: inline-block;
        
        line-height: 80px;
        margin: 0 5px;
      }
      

      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: row;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }
    .hero-image img{
      max-width: 400px;
      max-height: 400px;
    }

    .images img{
      max-width: 80px;
      max-height: 80px;
    }

    .images{
      margin-left: -10px;
    }
    .btn {

    .btn {
      margin-bottom: 40px;
    }

    .images{
       margin-left: -40px; 
    }

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }

    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 120px;

    }

    .image-container .overlay-text{
      font-size: 17px;
    }
    
    
}
@media (max-width: 1024px){
    .checkbtn{
    display:none;

   }  
 

      body.dark-theme nav{
        background: #000000;
        box-shadow: 4px 4px 4px rgb(37, 37, 36);
       
      
      }
      nav ul li{
        display: inline-block;
        
        line-height: 80px;
        margin: 0 5px;
      }
      

      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: row;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }
    .hero-image img{
      max-width: 400px;
      max-height: 400px;
    }

    .images img{
      max-width: 80px;
      max-height: 80px;
    }

    .images{
      margin-left: -10px;
    }
    .btn {

    .btn {
      margin-bottom: 40px;
    }

    .images{
       margin-left: -40px; 
    }

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }

    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 120px;

    }

    .image-container .overlay-text{
      font-size: 17px;
    }
    
    
}
@media (max-width: 856px){
  .checkbtn{
    display: block;
   }
 
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:  #f0f0f0;
     text-align: center;
     top: 80px;
     left: -100%;
     transition: all 0.5s ;
     z-index: 1;
   }
   
       nav ul li{
       display: block;
       margin:50px;
       line-height: 30px;
 
      } 
      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }

    .btn {
      margin-bottom: 40px;
    }

    .images{
       margin-left: -40px; 
    }

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }

    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 120px;

    }

    .image-container .overlay-text{
      font-size: 17px;
    }

    form .input-credents{
      display: flex;
      flex-direction: column;
      align-items: center;
      
     
    }
    form .input-credents input{
      max-width: 90%;
      
     
    }
    
    
}

@media (max-width: 768px){
  .checkbtn{
    display: block;
   }
 
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:  #f0f0f0;
     text-align: center;
     top: 80px;
     left: -100%;
     transition: all 0.5s ;
     z-index: 1;
   }
   
      nav ul li{
       display: block;
       margin:50px;
       line-height: 30px;
 
      }
      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }

      .cart-user{
        font-size: 20px;
        float: right;
        color: black;
         line-height: 80px;  
        margin-right: 70px;
        cursor: pointer;
        
      } 

      .cart-items{
        top:10%;
        left:72.5%;
        z-index: 4000px;
     
     }
       /* .user{
        font-size: 20px;
      
        color: black;
         
        margin-right: -70px;
        margin-left: 60px;
        margin-top: -80px;
        cursor: pointer;
        
      }  */
      .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }

    .btn {
      margin-bottom: 40px;
    }

    .images{
       margin-left: -40px; 
    }

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }

    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 100px;

    }

    .image-container .overlay-text{
      font-size: 14px;
    }
    form .input-credents{
      display: flex;
      flex-direction: column;
      align-items: center;
      
     
    }
    form .input-credents input{
      max-width: 90%;
      
     
    }
    
    
}
@media (max-width: 414px){
  .checkbtn{
    display: block;
   }
 
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:  #ffffff;
     text-align: center;
     top: 80px;
     left: -100%;
     transition: all 0.5s ;
     z-index: 1;
   }
   
      nav ul li{
       display: block;
       margin:50px;
       line-height: 30px;
 
      }
      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }

    .hero-image img{
      max-width: 300px;
      max-height: 300px;
    }
    
    .images img{
      max-width: 70px;
      max-height: 70px;
    }

    .images{
      margin-left: 100px;
    }
    .btn {
      margin-bottom: 40px;
    }

    .images{
      margin-left: -40px;
    }

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }

    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 90px;

    }

    .image-container .overlay-text{
      font-size: 14px;
    }
    form .input-credents{
      display: flex;
      flex-direction: column;
      align-items: center;
      
     
    }
    form .input-credents input{
      max-width: 50%;
      
     
    }
    
    
}

@media (max-width: 400px){
  .checkbtn{
    display: block;
   }
 
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:  #f0f0f0;
     text-align: center;
     top: 80px;
     left: -100%;
     transition: all 0.5s ;
     z-index: 1;
   }
   
      nav ul li{
       display: block;
       margin:50px;
       line-height: 30px;
 
      }
      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }

    .hero-image img{
      max-width: 300px;
      max-height: 300px;
    }
    
    .images img{
      max-width: 70px;
      max-height: 70px;
    }

    .images{
      margin-left: 100px;
    }
    .btn {
      margin-bottom: 40px;
    }

    

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }
    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 90px;

    }

    .image-container .overlay-text{
      font-size: 14px;
    }
    form .input-credents{
      display: flex;
      flex-direction: column;
      align-items: center;
      
     
    }
    form .input-credents input{
      max-width: 50%;
      
     
    }
    
    
}

@media (max-width: 300px){
  .checkbtn{
    display: block;
   }
 
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:  #f0f0f0;
     text-align: center;
     top: 80px;
     left: -100%;
     transition: all 0.5s ;
     z-index: 1;
   }
   
      nav ul li{
       display: block;
       margin:50px;
       line-height: 30px;
 
      }
      nav ul li a{
       font-size: 20px;
 
      }
      
 
      a:hover,a.active{
       color: #1c1c31;
      }
      #check:checked~ul{
       left: 0;
      }
 
      label.logo{
        color: black;
        font-size: 30px;
        line-height: 80px;
        padding: 0px;
        font-weight: bold;
        margin-left: 40px;
      }
      .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image {
        max-width: 100%;
    }

    .hero-image img{
      max-width: 300px;
      max-height: 300px;
    }
    
    .images img{
      max-width: 50px;
      max-height: 50px;
    }

    .images{
      margin-left: -10px;
    }
    .btn {
      margin-bottom: 40px;
    }

    

    .profession {
     flex-direction: column-reverse;
     align-items: center;
    }
    .contains-all{
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 90px;

    }

    .overlay-text{
      font-size: 14px;
    }
    form .input-credents{
      display: flex;
      flex-direction: column;
      align-items: center;
      
     
    }
    form .input-credents input{
      max-width: 50%;
      
     
    }
    
    
}


